@import "../../styles/mixins";

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0.8em;

  &Buttons {
    display: flex;
    align-items: center;

    button:not(:first-child) {
      margin-left: 1em;
    }
  }
}

.board {
  display: grid;
  padding: calc(var(--grid-step) * 2);
  gap: calc(var(--grid-step) * 2);
  background: var(--gradient-board);
  position: relative;
  border-radius: calc(var(--grid-step) * 1);
  overflow: hidden;

  @include media-xs {
    padding: calc(var(--grid-step) * 3);
    gap: calc(var(--grid-step) * 3);
    border-radius: calc(var(--grid-step) * 2);
  }

  @include media-s {
    padding: calc(var(--grid-step) * 4);
    gap: calc(var(--grid-step) * 4);
    border-radius: calc(var(--grid-step) * 3);
  }

  @include media-m {
    padding: calc(var(--grid-step) * 7);
    gap: calc(var(--grid-step) * 7);
    border-radius: calc(var(--grid-step) * 4);
  }

  @include media-l {
    padding: calc(var(--grid-step) * 9);
    gap: calc(var(--grid-step) * 9);
    border-radius: calc(var(--grid-step) * 5);
  }
}

.new {
  &Group {
    &:not(:first-child) {
      margin-top: 1.5em;
    }
  }

  &Message {
    margin-bottom: 0.5em;
    text-align: center;

    @include media-xs {
      margin-bottom: 0.8em;
    }
  }

  &Buttons {
    @include reset-list;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 4em);
    justify-content: center;
    gap: 0.5em;

    li {
      display: flex;
      justify-content: center;

      button {
        width: 100%;
      }
    }
  }

  &DifficultyMessage {
    font-size: 0.6em;
    text-align: center;
    margin-top: 1em;
  }
}

.won {
  &Message {
    margin-bottom: 0.5em;
    font-size: 1.5em;

    @include media-xs {
      margin-bottom: 1em;
      font-size: 2em;
    }
  }

  &Buttons {
    display: flex;
    align-items: center;

    button:not(:first-child) {
      margin-left: 1em;
    }
  }
}
