@mixin media-xxs {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin media-xs {
  @media (min-width: 568px) {
    @content;
  }
}

@mixin media-s {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin media-m {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin media-l {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
