@import "../../../../styles/mixins";

.card {
  cursor: pointer;
  border: none;
  aspect-ratio: 1 / 1;
  font-size: 1.5rem;
  background-color: var(--color-card-cover);
  padding: 0;

  border-radius: calc(var(--grid-step) * 1);

  &:disabled {
    cursor: not-allowed;
    background-color: var(--color-card-cover);
    color: white;
  }

  @include media-xs {
    font-size: 3rem;

    border-radius: calc(var(--grid-step) * 2);
  }

  @include media-s {
    font-size: 4rem;

    border-radius: calc(var(--grid-step) * 3);
  }

  @include media-m {
    font-size: 5rem;

    border-radius: calc(var(--grid-step) * 4);
  }

  @include media-l {
    font-size: 6rem;

    border-radius: calc(var(--grid-step) * 5);
  }
}
