@import "../../../../styles/mixins";

.card {
  cursor: pointer;
  border: none;
  aspect-ratio: 1 / 1;
  background-color: var(--color-card-cover);
  padding: 0;
  transition: transform 200ms ease;
  border-radius: 0.7em;

  @include media-xxs {
    border-radius: 1em;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--color-card-cover);
    color: white;
  }

  &:not(:disabled) {
    &:hover,
    &:focus {
      transform: scale(1.03);
    }
  }

  span {
    font-size: 2.5em;
    @include media-xxs {
      font-size: 3em;
    }
    @include media-xs {
      font-size: 4em;
    }
    opacity: 0;
  }
}

.enter {
  animation: card 0.2s ease forwards;
  span {
    animation: emoji 0.2s ease forwards;
  }

  &Done {
    background-color: var(--color-card-picked) !important;
    span {
      opacity: 1;
    }
  }
}

.exit {
  animation: card 0.2s ease forwards reverse;
  span {
    animation: emoji 0.2s ease forwards reverse;
  }
  &Done {
    background-color: var(--color-card-cover) !important;
    span {
      opacity: 0;
    }
  }
}

@keyframes card {
  0% {
    background-color: var(--color-card-cover);
    transform: scale(1) rotateY(0deg);
  }
  49% {
    background-color: var(--color-card-cover);
    transform: scale(1.2) rotateY(90deg);
  }
  50% {
    background-color: var(--color-card-picked);
  }
  100% {
    background-color: var(--color-card-picked);
    transform: scale(1) rotateY(0deg);
  }
}

@keyframes emoji {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
