@import "../../styles/mixins";

.card {
  all: unset;
  cursor: pointer;
  border: none;
  aspect-ratio: 1 / 1;
  padding: 0;
  transition: transform 200ms ease;
  border-radius: 0.7em;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  @include media-xxs {
    border-radius: 1em;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled) {
    &:hover,
    &:focus {
      transform: scale(1.03);
    }
  }

  &Cover,
  &Emoji {
    width: 100%;
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5em;
    @include media-xxs {
      font-size: 3em;
    }
    @include media-xs {
      font-size: 3.5em;
    }
  }

  &Cover {
    background-color: var(--color-card-cover);
  }

  &Emoji {
    background-color: var(--color-card-picked);
    transform: rotateY(180deg);
  }
}

.enter {
  span:first-child {
    transform: rotateY(0deg);
  }

  span:last-child {
    transform: rotateY(180deg);
  }

  &Active {
    // :global {
    //   .cover {
    //     transform: rotateY(180deg);
    //     transition: transform 0.2s linear;
    //   }
    // }

    // .cardCover {
    //   transform: rotateY(180deg);
    //   transition: transform 0.2s linear;
    // }

    span:first-child {
      transform: rotateY(180deg);
      transition: transform 1s linear;
    }

    span:last-child {
      transform: rotateY(0deg);
      transition: transform 1s linear;
    }

    // .cardEmoji {
    //   transform: rotateY(0deg);
    //   transition: transform 0.2s linear;
    // }
  }

  &Done {
    span:first-child {
      transform: rotateY(180deg);
    }

    span:last-child {
      transform: rotateY(0deg);
    }
  }
}

.exit {
  span:first-child {
    transform: rotateY(180deg);
  }

  span:last-child {
    transform: rotateY(0deg);
  }

  &Active {
    span:first-child {
      transform: rotateY(0deg);
      transition: transform 0.2s linear;
    }

    span:last-child {
      transform: rotateY(180deg);
      transition: transform 0.2s linear;
    }

    &Done {
      span:first-child {
        transform: rotateY(0deg);
      }

      span:last-child {
        transform: rotateY(180deg);
      }
    }
  }
}
