@import "../../styles/mixins";

.button {
  font-size: inherit;
  font-weight: inherit;
  border: none;
  cursor: pointer;
  border-radius: 0.5em;

  padding: 0.5em 1.2em;

  transition: background-color ease 200ms;

  &--light {
    color: var(--color-button-text-light);
    background-color: var(--color-button-bg-light);

    &:hover,
    &:focus {
      background-color: var(--color-button-bg-light-hover);
    }
  }

  &--dark {
    color: var(--color-button-text-dark);
    background-color: var(--color-button-bg-dark);

    &:hover,
    :focus {
      background-color: var(--color-button-bg-dark-hover);
    }
  }
}
