.button {
  font-size: inherit;
  font-weight: inherit;
  border: none;
  padding: calc(var(--grid-step) * 2) calc(var(--grid-step) * 3);
  cursor: pointer;
  border-radius: calc(var(--grid-step) * 2);

  &--light {
    color: var(--color-text);
    background-color: var(--color-text-light);
  }

  &--dark {
    color: var(--color-text-light);
    background-color: var(--color-text);
  }
}
